:host {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mobile-actions {
  display: none;
  justify-content: flex-end;
  padding: 5px 15px;
}

app-location-details {
  width: 30vw;
}

@media screen and (max-width: 1071px) {
  .mobile-actions {
    display: flex;
  }

  app-location-details {
    width: 100vw;
  }
}
