<mat-drawer-container>
  <mat-drawer [mode]="'side'">
    <div class="mobile-actions">
      <button mat-fab color="warn" (click)="closeDetails()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <app-location-details [data]="details"></app-location-details>
  </mat-drawer>

  <mat-drawer-content>
    <app-map
      *ngIf="googleApiLoaded$ | async"
      [locations]="(locations$ | async) || []"
      (toggleDetails)="onDetailsToggle($event)"
    ></app-map>
  </mat-drawer-content>
</mat-drawer-container>
